.reserved-day{
    background-color: rgba(252, 57, 57, 0.93);
}

.choosen-day{
    background-color: #13b955;
}

.previous{
    background-color: rgba(86, 86, 86, 0.22);
}

.calendar-table {
    width: 45%;
}

.days:hover{
    cursor: pointer;
}