.buttonContainer{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.room-buttons{
    margin-right: 15px;
}

.hotelName{
    font-size: 18px;
}

.calendar-box{
    display: inline-block;
}

.calendar-table{
    border: 2px solid #593196;
}

.month{
    padding: 10px;
    border: 2px solid #593196;
    background-color: rgba(89, 49, 150, 0.65);
    color: white;
    border-radius: 5px;
    font-family: 'Nanum Gothic', sans-serif;
    text-transform: capitalize;
}

