.hotel-list-item__image {
    max-width: 190px;
    margin-bottom: 10px;
}
.noPadding{
    padding: 0px;
}
.rating{
    padding-left: 5px;
    padding-top: 6px;
    padding-bottom:-10px;
}
.data{
    margin: 0px;
    margin-bottom: 5px;
}