.search-box{
    flex: 1;
    flex-wrap: nowrap;
    /*max-width: 1200px;*/
    margin-left: 15px;
    padding-bottom: 30px;
    justify-content: center;
}

.button-search{
    margin: 0px;
}

.form-inline .form-control.search-input{
    width: 100%;
    max-width: 300px;
}
.title{
    margin-top: 5px;
}
.search-input{
    margin-left: 30px;
}

.day-picker{
    max-width: 77px;
    height: 35px;
}

.InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #5942f4;
}
.InputFromTo .DayPicker-Day {
    border-radius: 0 !important;
}
.InputFromTo .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.InputFromTo .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}
.InputFromTo .DayPickerInput-Overlay {
    margin-left: -198px;
    width: 550px;
}
.InputFromTo-to .DayPickerInput-Overlay {
    margin-left: -275px;
}
