.rating-style{
    color: #eec41c;
}

.clearfix {
    clear: both;
}
.rating{
    padding-left: 5px;
    padding-top: 6px;
    font-size: 18px;
}

.label{
    font-size: 22px;
}
.images{
    max-height: 160px;
    margin: 5px;
}

.hotel-actions{
    flex: 1;
}

.hotelButtonContainer{
    display: flex;
    justify-content: flex-end;
}

.hotel-buttons{
    margin: 5px;
}

.room-buttons{
    margin-right: 15px;
}



