.App {
    text-align: center;
}

.jumbotron {
    border-radius: 5px;
    box-shadow: 2px 4px 6px #ddd;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
